services:
  # This temporary service fixes the volume permissions automatically
  init-chmod:
    image: busybox
    command: chmod -R 777 /opt/nim/.cache
    volumes:
      - nim-cache:/opt/nim/.cache

  llm-test-8b:
    image: nvcr.io/nim/meta/llama-3.1-8b-instruct-dgx-spark:1.0.0-variant
    profiles: ["Test-Small"]
    depends_on:
      init-chmod:
        condition: service_completed_successfully
    ports:
      - "8000:8000"
    environment:
      - NGC_API_KEY=${NGC_API_KEY}
      - NIM_GPU_MEM_FRACTION=0.1
    volumes:
      - nim-cache:/opt/nim/.cache
    deploy:
      resources:
        reservations:
          devices: [{driver: nvidia, count: 1, capabilities: [gpu]}]

volumes:
  nim-cache:
